@page "/"

<header class="header">
    <a href="#" class="logo">
        <img src="images/logo.png" alt="Kayseri Tarım - Logo" />
    </a>
    <nav class="navbar">
        <a href="#" class="active">Anasayfa</a>
        <a href="#" class="bitki-koruma-Ürünleri">Bitki Koruma Ürünleri <i class="fas fa-chevron-down"></i></a>
        <div class="bitki-koruma-Ürünleri-submenu">
            <ul>
                <li><a href="#">Mantar İlaçları</a></li>
                <li><a href="#">Yabancı Ot İlaçları</a></li>
                <li><a href="#">Böcek İlaçları</a></li>
                <li><a href="#">Kırmızı Örümcek İlaçları</a></li>
                <li><a href="#">Nematod İlaçları</a></li>
            </ul>
        </div>
        <a href="#">Gübreler ve Toprak Düzenleyiciler</a>
        <a href="#">Tohum ve Fidanlar</a>
        <a href="#">Biyolojik Ürünler</a>
        <a href="#">Sulama ve Tarım Teknolojileri</a>
        <a href="#">Tarım Ekipmanları</a>
        <a href="#">Hayvan Sağlığı ve Yem Ürünleri</a>
        <a href="#">Bahçe ve Hobi Ürünleri</a>
    </nav>
    <div class="buttons">
        <button aria-label="Ara">
            <i class="fas fa-search"></i>
        </button>
        <button aria-label="Sepet">
            <i class="fas fa-shopping-cart"></i>
        </button>
        <button aria-label="Menü">
            <i class="fas fa-bars"></i>
        </button>
        <div class="auth-icons">
            <a href="/register" data-title="Kayıt Ol">
                <i class="fas fa-user-plus"></i>
            </a>
            <a href="/login" data-title="Giriş Yap">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
</header>

<section class="Anasayfa">
    <div class="content">
        <h3>TARIMIN SIRLARI</h3>
        <p>Toprağın Verimliliğinden Hayvancılığa Her Şey</p>
        <a href="#" class="btn">Şimdi Sipariş Ver</a>
    </div>
</section>
